ultrasonic_radar/.ipynb_checkpoints/
Tensorflow/Scripts/.ipynb_checkpoints/
Kaggle_competitions/Titanic_challenge/Notebooks/.ipynb_checkpoints/
Tensorflow/Datasets/
Kaggle_competitions/House_prices/Dataset/
Kaggle_competitions/Titanic_challenge/Dataset/
ultrasonic_radar/arduino/.ipynb_checkpoints/serial_read-checkpoint.ipynb
ultrasonic_radar/arduino/arduino_scripts/.ipynb_checkpoints/microcontroller_handler-checkpoint.c
