ultrasonic_radar/.ipynb_checkpoints/
Tensorflow/Scripts/.ipynb_checkpoints/
Kaggle_competitions/Titanic_challenge/Notebooks/.ipynb_checkpoints/
Tensorflow/Datasets/
Kaggle_competitions/House_prices/Dataset/
Kaggle_competitions/Titanic_challenge/Dataset/
